body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
img {
    display: block;
}

button {
    cursor: pointer;
}
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/*  #region header */
.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-page .container {
    display: flex;
    justify-content: space-between;
}

.nav-page {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
}

.logo-style {
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.nav-list-item {
   

}

.nav-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-item-link.current {
    position: relative;
 }


 .nav-item-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
 }

.nav-item-link:hover,
.nav-item-link:focus,
.address-info:hover,
.address-info:focus,
.nav-item-link.current {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-list-item {
    display: block;
    
}

.address-info {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-info:hover,
.address-info:focus {
    color: #404bbf;
}
/* #endregion */

/* #region hero */
.hero {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.hero .container {

}

.hero-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
}


.hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer; 
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion */


/* #region Features */
.features-page {
    padding: 120px 0;
}

.features-title {
    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.features-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3*24px)/4);
}

.feature-icon-ctn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.feature-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.feature-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.feature-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #endregion */

/* #region Our Team */
.team-page {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-page .container {
    
    margin-bottom: 120px;
}


.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.team-item {
    width: 264px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-emp {
    padding: 32px 0;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-list-item {
    width: 40px;
    height: 40px;
    
    margin-bottom: 32px;
}

.social-link {
    fill: #f4f4fd;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    
}



.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
    
}
/* #endregion */

/* #region Portfolio */
.portfolio-page {
    padding-top: 120px; 
    padding-bottom: 120px; 
}

.portfolio-page .container {

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
}

.portfolio-list-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-section {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0;

}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.porfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.porfolio-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */


/* #region footer */
.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-page .container {
    display: flex; 
    align-items: baseline;
}

.footer-ctn {
    margin-right: 120px;
}

.logo-footer{
    display: inline-block;
    margin-bottom: 16px; 

}

footer .logo-style {
    color: #f4f4fd
}

.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.social-links-ctn-footer {
    

}

.social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-right: 80px;
}

.social-link.footer-link:hover,
.social-link.footer-link:focus {
    background-color: #31d0aa;
}

.footer-text-subscribe {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-top: 0;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 24px;
}

.footer-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-submit-btn:hover,
.footer-submit-btn:focus {
   background-color: #404BBF;
}
.footer-form-input {
    min-width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
   
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
    background-color: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
    color: #FFFFFF;
}

.footer-form-input:hover,
.footer-form-input:focus{
    border: #31d0aa;
}
.footer-form-icon {
    margin-left: 16px;
    fill: #FFFFFF;
}
/* #endregion */

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    background-color: #fcfcfc;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: auto;
}

.modal-btn-close {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    fill: #2E2F42;
    background-color: #E7E9FC;
}

.close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
background-color: #404BBF;
border: none;
fill: #FFFFFF;
}


.modal-text {
    width: 360px;
    height: 24px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
     color: #2E2F42;
     margin-bottom: 16px;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.form-wraper-ctn {
    margin-bottom: 8px;
}
.form-user-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.form-user-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-input:focus {
    border: 1px solid #4D5AE5;
}

.form-user-input:focus+ .form-user-icon {
    fill: #4D5AE5;
}

.form-user-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.form-user-icon-wraper {
    position: relative;
}

.textarea {
    margin-bottom: 16px;
}

.form-user-coment {
    width: 100%;
    resize: none;
    min-height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-user-coment:focus {
    border: 1px solid #4D5AE5;
}

.form-user-coment::placeholder {
    
}

.form-wrapper-checkbox {
    margin-bottom: 24px;
}

.castom-checkbox {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.form-user-checkbox>.castom-checkbox {
    background-color: #404BBF;
     border: none;
    fill: #F4F4FD;
    }

    .form-user-checkbox {
            font-weight: 400;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.04em;
            color: #8E8F99;
    }

    .form-user-checkbox a {
        text-decoration: underline;
        line-height: 1.33;
        text-decoration-skip-ink: none;
        color: #4D5AE5;
    }

    .form-btn-submit {
        display: block;
        border: none;
        margin: auto;
        border-radius: 4px;
        cursor: pointer;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #FFFFFF;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .form-btn-submit:hover,
    .form-btn-submit:focus {
    background-color: #404BBF;
    }